<%/*
  Requires:
  - widgets
    list of widget object. key is widget id, body is widget config
*/%>

<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Pi DashBoard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <link rel="stylesheet" href="css/style.css?version=1.1">

    <!-- config -->
    <script>
      const config = {
        redditUrl: "<%=reddit_url%>",
        widgets: [
          <%for(const widget in widgets){%>
            { widget: "<%=widget%>", data: <%-widgets[widget]%> },
          <%}%>
        ]
      }
    </script>

    <!-- script -->
    <script src="js/index.js?version=1.1"></script>    

    <!-- widgets -->
    <%for(const widget in widgets){%>
      <script src="widgets/<%= widget %>.js?v=1"></script>
      <link rel="stylesheet" href="widgets/<%= widget %>.css?v=1">
    <%}%>
  </head>

  <body>
    <section class="main">
        <div id="clock"></div>
        <div id="date"></div>
        <div id="icons">
          
        </div>
    </section>
  </body>
</html>
